<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="../index.js"></script>
</head>
<body>

    <div class="panel_sexo">
        <input type="button" value="Hombre" id="sub_btn_hombre" name="hombre">
        <input type="button" value="Mujer" id="sub_btn_mujer">
    </div>


    <p id="parrafo">Esto es un párrafo</p>
    <input type="button" name="cara" id="cara_perso" value="Seleccionar">

</body>
</html>