/* Código CSS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap');

html {
  padding: 0;
  margin: 0;
}
body {
  background: #223;
  color: white;
}

/*
    PARA MEJORAR EL CODIGO:
        - Usar la regla @import para traerte codigo CSS de otro fichero CSS


*/

h1#titulo {
  text-align: center;
}

:root {
  --transladar-posicion: translate(10px, -20px);
  --pad-elemento: 1rem 1.5rem 2rem 1.1rem;
  --fondo: #eee;
  --radio: 50%;
  --pxs: 30px;
}

/**************** ESTILOS INPUTS *********************************/

section.sexo_modal input,
section.clase_modal input {
  border-radius: 25px;
  padding: 20px;
  width: 100px;
  height: 50px;
  padding-bottom: 35px;
  /* background-image: linear-gradient(to top,black, white); */
  background-image: linear-gradient(10deg, black, white);
}
section.sexo_modal input:hover,
section.clase_modal input:hover {
  background-image: linear-gradient(200deg, black, white);
}

input {
  cursor: pointer;
  text-decoration: 0.4rem;
}

/* input[type="button"]{
    --font-weight: 400;
    --font-stretch: 100%;
  
    font-family: "Montserrat", sans-serif;
    font-variation-settings:
      'wght' var(--font-weight),
      'wdth' var(--font-stretch);
} */

input[type='button'] {
  color: white;
  font-size: 1rem;
  text-shadow: -1px -1px 3px #999, 0 0 1px darkred, 1px 1px 1px red,
    2px 2px 1px #555, 3px 3px 1px #222, 4px 4px 1px #000;
}

input:hover {
  background-color: #cbc752;
}
input#aceptar:hover {
  background-color: #3e8e41;
}
input#personalizar:hover {
  background-color: #3e8e41;
}

/** BOTON "X" SALIR **/

div.flex :only-child {
  transform: var(--transladar-posicion);
  padding: var(--pad-elemento);
  background: var(--fondo);
  border-radius: var(--radio);
  width: var(--pxs);
  height: var(--pxs);
  margin-top: var(--pxs);
  margin-right: 15px;
}

/* div.container{ */

.sexo_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: red;
  border: 1px solid #ddd;
  border-radius: 15px;

  /* ESTO LO AÑADIMOS PARA EL OVERLAY POSTERIOR PARA REALIZAR UN EFECTO EN EL QUE
        EL MODAL ESTA POR ENCIMA DE LA PRINCIPAL */
  z-index: 2;
}

.clase_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: red;
  border: 1px solid #ddd;
  border-radius: 15px;

  /* ESTO LO AÑADIMOS PARA EL OVERLAY POSTERIOR PARA REALIZAR UN EFECTO EN EL QUE
        EL MODAL ESTA POR ENCIMA DE LA PRINCIPAL */
  z-index: 2;
}

.hidden {
  display: none;
}

/*La relacion de flex es heredada de padre a hijo, pero si ese hijo tiene otro este no comparte la propiedad*/

div.panel_personaje {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 4px yellow;
  border-style: inset;
  border-radius: 10px 10px;
  background: rgb(26, 53, 30); /*Verde*/

  & div.retrato_crear_perso {
    display: flex;
    align-items: center;
    border: 5px solid black;

    & div.retrato {
      padding: 18px 40px;
      background: black;

      & img#cara {
        width: 90px;
        height: 100px;
      }
    }

    & div.franjas {
      & div.franja_morada {
        width: 2000px;
        height: 70px;
        background: purple;
        font-size: 30px;
        font-weight: 50;
        font-style: oblique;
      }

      & div.franja_roja {
        width: 2000px;
        height: 70px;
        background: red;
        font-size: 30px;
        font-weight: 50;
        font-style: oblique;
      }
    }
  }

  & div.cuerpo_pagina {
    display: flex;
    flex-direction: row;
    align-items: center;

    & div.tabla-estadisticas {

      display: grid;
      /* 5x2 = 10 Celdas */
      grid-template-rows:repeat(5, 30px);
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      background: #26292c;
      padding: 10px 120px 0 10px;
      border: 4px double red;
      border-radius: 8px;
      gap:35px;
    

      & span.span-fondo {

        background: blue;
        border: 2px dotted yellow;
        text-align:center;
        font-size:30px;
      }

      & input {
        text-align:center;
        padding:5px;
        font-size:25px;
    }
    }

    & div.conf_perso {
      /*
    No se usa flex ya que lo hereda de panel_personaje pero usamos grid para el formulario
    display:flex;
    align-content: center;*/

      display: grid;

      grid-template-rows: repeat(5, 50px);
      grid-template-columns: repeat(4, 150px);
      /* min-height:100px; */
      background: #26292c;
      border: 4px double red;
      border-radius: 8px;
      /* height:280px; */
      padding: 30px;
      margin: 100px;

      & input#nombre {
        /* display:flex;    */

        width: 293px;
        height: 45px;
        color: green;
        background: #234;
        font-size: 16px;
        text-align: center;
        font-style: oblique;
      }

      & label {
        background: black;
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: 'Montserrat sans-serif';
      }

      /* BOTONES ACEPTAR Y PERSONALIZAR */

      & div.acep-perso {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 170px;

        flex-wrap: wrap;

        & input {
          padding: 20px 35px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    & div.cuadro-panel {
      /* display: flex; */
      /* flex-direction: row; */

      & div.cuadro {
        margin: 70px;
        background: red;
        border: 5px solid #760dcf;

        & img#hechicero {
          margin: 60px;
          border: 5px solid #0d5bcf;
        }
      }
    }
  }
}